<div class="w-full h-auto flex justify-center items-center flex-col text-xl mt-32 font-extrabold">
  <p>Welcome To The Real Time Tickets Simulation System</p>
  <div class="w-2/4 h-auto font-light flex text-center mt-10 mb-20">
    <p>Welcome to the Real-Time Tickets Simulation System, an advanced platform for efficiently managing ticket bookings and operations with real-time updates, ensuring seamless scheduling, enhanced user experience, and optimized resource allocation.</p>
  </div>

  <button class="w-auto h-auto border-2 border-amber-400 text-gray-800 px-8 py-2 rounded-full hover:bg-amber-400" routerLink="/config">
    Start by Configuring the System
  </button>

</div>
